#card-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1040px;
    padding: 8px;
    gap: 16px;
    justify-content: space-evenly;
    align-items: flex-start;
}

/*#region Card Styling*/
.poke-card {
    width: 300px;
    height: 200px;
    background: lightblue;
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    border-radius: 8px;
    position: relative;

    .card-head {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        z-index: 1;

        h2 {
            text-transform: capitalize;
            font-size: 36px;
        }
    }

    .pokemon-types {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: 8px;

        p {
            text-transform: capitalize;
            font-size: 24px;
        }

        .pokemon-type {
            background-color: white;
            color: black;
            border-radius: 8px;
            padding: 4px 8px;
        }
    }

    img {
        position: absolute;
        bottom: 4px;
        right: 0;
        height: 85%;
    }
}

.grass {
    background: rgb(89, 192, 89, 0.8);
}

.fire {
    background: orange;
}

.water {
    background: lightblue;
}

.bug {
    background: rgb(136, 76, 76);
}

.normal {
    background: rgb(193, 188, 188);
}

.poke-card-container:hover {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 8px;
}
/*#endregion*/

/*#region Dialog*/
#dialog-popup {
    margin: auto;
    height: 550px;
    width: 320px;
    min-width: 320px;
    background: white;
    border-radius: 8px;

    .dialog-container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        gap: 16px;

        #close-button {
            align-self: flex-end;
            vertical-align: middle;
            padding: 2px;
            font-size: 20px;
            height: 34px;
            width: 34px;
            border-radius: 50%;
            color: orangered;
        }

        #close-button:hover {
            font-weight: bolder;
            background: rgb(255, 192, 203, 0.3);
        }

        #pokemon-stats {
            width: 100%;
            height: fit-content;
            padding-left: 8px;
            padding-right: 8px;

            table {
                justify-self: flex-start;
                padding-left: 4px;
                padding-right: 4px;

                th {
                    text-align: left;
                    vertical-align: top;
                    padding-bottom: 2px;
                }

                td {
                    text-align: left;
                    padding-left: 16px;
                    vertical-align: top;
                    padding-bottom: 2px;
                }

                .poke-about-facts {
                    text-transform: capitalize;
                }
            }
        }

        #pokemon-slider {
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 8px 0px 8px;

            img {
                height: 22px;
                width: 22px;
                align-self: center;
            }

            button:hover {
                height: 40px;
                width: 40px;
                background: rgb(255, 192, 203, 0.3);
                border-radius: 50%;
            }
        }

        /*#region tabs styling copied from w3schools*/
        .stats-container {
            border-radius: 8px;
            width: 100%;
            height: 175px;
        }

        /* Style the tab */
        .tab {
            overflow: hidden;
            display: flex;
            gap: 16px;
        }

        /* Style the buttons that are used to open the tab content */
        .tab button {
            background-color: inherit;
            float: left;
            outline: none;
            cursor: pointer;
            padding: 8px;
            border-bottom: 1px solid #ddd;
        }

        /* Change background color of buttons on hover */
        .tab button:hover {
            font-weight: bolder;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 8px;
        }
        /*#endregion Tab Styling*/
    }
}

#dialog-popup[open]::backdrop {
    background-color: rgb(6, 23, 30, 0.5);
}
/*#endregion Dialog*/
